<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bwf.tuanche">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎页面 -->

        <activity
            android:name=".homepage.entity.adapter.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.entity.adapter.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlankPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".car_select.CarSelectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".car_select.SelectResultActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".homepage.Home_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.entity.adapter.Wellcome_poster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.Home_margin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tuancheDetial.TuanDetialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tuancheDetial.DetialMorePingjiaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Umeng 分享、登录 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- QQ\QQZone -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57aa8a2067e58e23de0030b1" />
        <!-- 搜素页面 -->

        <activity
            android:name=".homepage.Search.Search_Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 婚姻座驾 -->
        <activity
            android:name=".homepage.HomepageFagment_Details.HomePageFragment7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".homepage.Search.Search_Details_All"></activity>
        <activity android:name=".homepage.version_Message.VersionCode"/>
    </application>

</manifest>